header {
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out;
}

body.scrolled {
    header {
        transform: translateY(0);
    }
}

p {
    animation: color-change 5s infinite;
}
  
@keyframes color-change {
    0% {
      color: #ffffff;
    }
    50% {
      color: #696767;
    }
    100% {
      color: #ffffff;
    }
}